<h2 class="mboff">Tweet #<%= @tweet.id %></h2>
<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete"/>
  <input type="submit" id="Delete Tweet" value="Delete Tweet"/>
</form><br/>

<h3 class="di">Content: </h3>
<p class="di"><%= @tweet.content %></p>
<div><a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a></div>