<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Fwitter</title>
    <style type="text/css">
      .di{display: inline;}
      .mboff{margin-bottom: 0px;}
      .mtoff{margin-top: 0px;}
    </style>
  </head>
  <body>
    <% if logged_in? %>
      <a href="/users/<%=current_user.slug%>">Account</a>&nbsp;
      <a href="/tweets">Tweets</a>&nbsp;
      <a href="/tweets/new">New</a>&nbsp;
      <a href="/logout">Logout</a>
    <% end %>
    <%= yield %>
  </body>
</html>
